:root {
  --average: "Average Sans";
  --mulish: "Mulish";

  --jungle-teal: #6b9080ff;
  --muted-teal: #a4c3b2ff;
  --frozen-water: #cce3deff;
  --azure-mist: #eaf4f4ff;
  --mint-cream: #f6fff8ff;
}

body {
  font-family: var(--mulish);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navbar */
nav {
  background-color: var(--jungle-teal);
}

nav .navbar-nav .nav-item .nav-link {
  color: whitesmoke;
}

/* Main Content */
.card-profile{
  width: 50%;
  height: 20rem;
  background-color: var(--frozen-water);
  border: 3px solid var(--jungle-teal);
  box-shadow: 5px 5px 10px grey;
}

.time{
  width: max-content;
}

.profil {
  width: 225px;
  height: 15rem;
  background-color: var(--frozen-water);
}

.profil img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.identitas{
  width: 400px;
}

td{
  align-content: center;
}

.form-tgl{
  width:300px
}

textarea{
  height: 300px;
}

.chart-container {
  position: relative;
  height: 15rem;
  width: 20rem;
}

canvas {
  height: 100% !important;
  width: 100% !important;
  max-height: 15rem;
}

/* Footer */
body > footer{
    margin-top: auto;
}

footer {
  font-size: 10px;
  background-color: var(--jungle-teal);
  height: 15vh;
}
